.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 555px;
  height: 240px;
  background-color: red;
  display: flex;
  justify-content: center;
}

.slider {
  display: flex;
  height: 100%;
  transition: margin-left 0.5s ease-in;
  align-items: center;
}

.box {
  width: 550px;
  height: 220px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box--content {
  width: 150px;
  height: 200px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
