@import "./reset.css";

/* Font-Family-main */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

/* TItle */
@import "./title/title.css";

/* GoodBooks */
@import "./GoodBooks/goodBooks.css";
@import "./GoodBooks/slider.css";
@import "./GoodBooks/view.css";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(252, 206, 116);
}
