@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Brush+Script&family=Pacifico&display=swap");
@import "./reset.css";
@import "./LogIn.css";
@import "./Login__header.css";
@import "./Login__body.css";
@import "./Login__btn.css";
