.signup__body {
  position: relative;
  margin-top: 20px;
}
.signup__body--input {
  position: relative;
  text-align: center;
  margin-top: 50px;
}
.signup__body--name-title,
.signup__body--id-title,
.signup__body--pw-title,
.signup__body--pwcheck-title {
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  float: left;
  top: 40px;
  margin-left: 20px;
}
.signup__body--input-id,
.signup__body--input-name,
.signup__body--input-pw,
.signup__body--input-pwcheck {
  width: 90%;
  margin-top: 50px;
  margin-bottom: 12px;
  padding: 15px;
  background-color: #f2dc01;
  border: none;
  border-bottom: 2px solid rgb(131, 74, 0);
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}
.signup__body--input-id::placeholder,
.signup__body--input-name::placeholder,
.signup__body--input-pw::placeholder,
.signup__body--input-pwcheck::placeholder {
  color: rgb(131, 74, 0);
  font-weight: 700;
}
.signup__body--input-id {
}
.signup__body--id-title {
}
.signup__body--input-pw {
}
.signup__body--pw-title {
}
.signup__body--input-pwcheck {
}
.signup__body--pwcheck-title {
}
