.signup__body {
  position: relative;
  margin-top: 20px;
}
.signup__body--input {
  position: relative;
  text-align: center;
  margin-top: 60px;
}

.signup__body--id-title,
.signup__body--email-title,
.signup__body--pw-title,
.signup__body--pwcheck-title {
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  float: left;
  top: 40px;
  margin-left: 20px;
}
.signup__body--input-id,
.signup__body--input-email,
.signup__body--input-pw,
.signup__body--input-pwcheck {
  width: 90%;
  margin-top: 50px;
  margin-bottom: 12px;
  padding: 15px;
  background-color: #f2dc01;
  border: none;
  border-bottom: 2px solid rgb(131, 74, 0);
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}
.signup__body--input-id::placeholder,
.signup__body--input-email::placeholder,
.signup__body--input-pw::placeholder,
.signup__body--input-pwcheck::placeholder {
  color: rgb(131, 74, 0);
  font-weight: 700;
}
.signup__body--id-error,
.signup__body--email-error,
.signup__body--pw-error,
.signup__body--pwck-error {
  position: relative;
  color: red;
  font-weight: 700;
  width: auto;
  float: left;
  margin-left: 30px;
  margin-right: 70px;
  padding: 0;
  padding-right: 20px;
  font-size: 0.9rem;
}
