.main__title {
  width: 1060px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  position: fixed;
  z-index: 10;
  background-color: rgb(252, 206, 116);
}

.main__title__box {
  width: 500px;
  height: 280px;
  background-color: aquamarine;
}

.main__title__box-text {
  width: 500px;
  height: 280px;
}

.main__title__box-text > span {
  font-size: 80px;
  color: rgba(34, 19, 0, 0.87);
  text-shadow: 3px 2px 4px rgb(241, 185, 0);
  font-family: Pacifico;
}

.main__title__box-icon {
  width: 230px;
  height: 126px;
  background-color: rgb(241, 185, 0);
  border: 4px solid rgb(131, 74, 0);
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box-icon__contents {
  font-size: 40px;
  margin-left: 30px;
  display: flex;
  cursor: pointer;
}
.box-icon__contents > span {
  font-size: 40px;
  margin-left: 20px;
  font-family: Jua;
  color: rgba(73, 62, 0, 0.911);
}
